@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Raleway:wght@500&display=swap');


:root {
    --font-large-text: 'Raleway', sans-serif;
    --font-small-text:  'Mulish', sans-serif;

    --color-purple: #492975;
    --color-pink: #FF5670;
    --color-gray: #627193;
    --color-gold: #FDB400;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {display: none;}



a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}
  


  